html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: gray;
    display:flex;
}

.canvas_container {
    width: 100%;
    height: 100%;
}

#updates_container {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.update_item {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background: #fff;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    border: 1px solid #ddd;
}

.un_show {
    display: none;
}

.show {
    display: flex;
}

.dom_fps {
    position: absolute;
    right: 0;
    top: 0;
}

.upgrade_img_container {
    overflow: hidden; 
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.upgrade_img {
    width: 100px;
    height: 100px;
}

.upgrade_text {
    text-align: center;
}